{% extends 'main.html' %}
{% load static %}


{% block content %}
<body>

<link rel="stylesheet" href="{% static 'signup.css' %}">


    <div class="signupbox">
        <img src="{% static 'assets/icons/user-login-icon-14.png' %}" class="icon2">
        <h1>Sign Up</h1>
        <form  method="POST" action="">

            {% csrf_token %}
            <p>Username</p>
            <input type="text" id="username" name="username" placeholder="Enter Username">
            <p>Email</p>
            <input type="text" id="email" name="email" placeholder="Enter Email">
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="Enter Password">
            <p>Confirm Password</p>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
            <input type="submit" name="submit" value="Sign Up"/>



        </form>

    </div>

</body>
{% endblock content %}