{% load static %}


<html lang="en">
  <head>
    <title>artisan:online shopping of bell metal ornaments</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel= "shortcut icon" href="{% static 'assets/icons/icon.png' %}" type="image/x-icon"/>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  </head>

  <header>

      <div class="main">

      </div>
      <div class="title">
        <h1>ARTISANS</h1>
      </div>
      <div class="button">
        <a href="https://www.google.com/search?q=artisans&oq=artisans&aqs=chrome..69i57.5328j0j1&sourceid=chrome&ie=UTF-8" target="_blank" class="btn">LEARN MORE</a>
      </div>

    </header>

    <body>

    {% block content %}

    {% endblock content %}
    </body>
</html>