{% load static %}

<header>
      <div class="main">

      </div>
      <div class="title">
        <h1>ARTISANS</h1>
      </div>
      <div class="button">
        <a href="https://www.google.com/search?q=artisans&oq=artisans&aqs=chrome..69i57.5328j0j1&sourceid=chrome&ie=UTF-8" target="_blank" class="btn">LEARN MORE</a>
      </div>

    <nav>

      <div class="logo">
        <img src="{% static 'assets/icons/logo4.png' %}">
      </div >
      <div class="search-box">
        <from class="search flex">
          <input class="search-txt" type="text" name="" placeholder="Search for products">
          <a class="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
        </from>
      </div>



      {% if request.user.is_authenticated %}
      <ul class="first">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Services</a></li>
          <li><a href="{% url 'logout' %}" target="_blank">Logout</a>
          <ul class="second">
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>
          </ul>
      </ul>
      {% else %}
        <ul class="first">
        <li class="active"><a href="{% url 'home' %}">Home</a></li>
        <li><a href="#">Services</a></li>
          <li><a href="{% url 'login' %}" target="_blank">Login</a>

          <ul class="second">
            <li><a href="{% url 'signup' %}" target="_blank">Sign Up</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Help</a></li>
            <li><a href="#">Logout</a></li>
          </ul>

      </ul>
      {% endif %}
    </nav>

</header>